#header1 {

    list-style: none;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;

}

header {
    background-color: rgb(76, 76, 234);
    color: aliceblue;
}

header h1 {

    text-transform: capitalize;
}

ul li a:hover {

    background-color: black;
    border: 1px solid black;
    border-radius: 15px;

}

#main-image {
    width: 100%;
    height: auto;
    position: relative;

}

#imagehead {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 700;
}

#main {
    background-color: rgba(255, 0, 0, 0.2);
}

#mainul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#childern {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}

#childernul {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px;
}

h3 {
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 10px;

}

#price {
    padding: 10x;
    margin: 30px;
    text-transform: capitalize;
}

#footer1 {
    display: flex;
    flex-direction: row;


}

footer div img {
    width: 150px;
    aspect-ratio: 3/2;
    object-fit: contain;
     padding: 5px;
     margin: 10px;
}

#footer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;

    padding: 10px;
    margin: 20px;
}
footer{
   background-color:rgba(255, 0, 0, 0.6) ; 
}
